# Ignore everything
*

# But allow these specific files and directories
!config/
!config/almostunified*
!config/almostunified/
!config/almostunified/**
!config/modular_machinery_reborn*
!config/modular_machinery_reborn/
!config/modular_machinery_reborn/**
!config/lightmanscurrency*
!config/lightmanscurrency/
!config/lightmanscurrency/**
!config/mekanism*
!config/mekanism/
!config/mekanism/**
!config/incontrol*
!config/incontrol/
!config/incontrol/**
!config/melter*
!config/melter/
!config/melter/**
!config/shutdowner*
!config/shutdowner/
!config/shutdowner/**
!kubejs/
!kubejs/**
!scripts/
!scripts/**
!*.md
!*.gitattributes
!*.gitignore

# Re-Ignore these files and directories
kubejs/jsconfig.json
*archive*
**/examples/**
*example*
*.log
*.txt
**probe**
**probejs**
*.disabled
*.probe
*.debug
*.bak
.probe
