# Ignore everything
*

# But allow these specific files and directories
!config/
!kubejs/
!kubejs/**
!scripts/
!scripts/**
!*.md
!*.gitattributes
!*.gitignore

# Allow these specific files and directories
!config/almostunified/

# Re-Ignore these files and directories
kubejs/jsconfig.json
*archive*
**/examples/**
*example*
*.log
*.txt
**probe**
**probejs**
*.disabled
.probe
